<!-- Constructs the account details form -->
<form class="create-user-form" [formGroup]="createForm">
    <!-- Constructs the display name input -->
    <mat-form-field class="form-input-field">
        <mat-label>Display name</mat-label>
        <input type="text" matInput [errorStateMatcher]="onChangeValidator" formControlName="displayNameControl" 
            minlength="3" maxLength="16" [disabled]="isControlDisabled('displayNameControl')" required>
        <button mat-icon-button matSuffix (click)="toggleControlState('displayNameControl')">
            <mat-icon>{{getEditFieldIcon('displayNameControl')}}</mat-icon>
        </button>
        <mat-error *ngIf="createForm.controls['displayNameControl'].hasError('required')">
            Please enter a display name
        </mat-error>
        <mat-error *ngIf="createForm.controls['displayNameControl'].hasError('minlength')">
            Your display name should be at least 3 characters
        </mat-error>
    </mat-form-field>
    <!-- Constructs the email address input -->
    <mat-form-field class="form-input-field">
        <mat-label>Email address</mat-label>
        <input type="email" matInput [errorStateMatcher]="onChangeValidator" placeholder="example@email.com" formControlName="emailAddressControl" 
                minlength="5" maxLength="30" [disabled]="isControlDisabled('emailAddressControl')" required>
        <button mat-icon-button matSuffix (click)="toggleControlState('emailAddressControl')">
            <mat-icon>{{getEditFieldIcon('emailAddressControl')}}</mat-icon>
        </button>
        <!--<mat-spinner *ngIf="email.pending"></mat-spinner>-->
        <mat-error *ngIf="createForm.controls['emailAddressControl'].hasError('required')">
            Please enter your email address
        </mat-error>
        <mat-error *ngIf="createForm.controls['emailAddressControl'].hasError('minlength') || createForm.controls['emailAddressControl'].hasError('email')">
            Enter a valid email address
        </mat-error>
        <mat-error *ngIf="isEmailAddressTaken()">
            Email address already in use
        </mat-error>
    </mat-form-field>
    <!-- Constructs the sex input -->
    <mat-form-field class="form-input-field">
        <mat-label>Sex</mat-label>
        <mat-select [errorStateMatcher]="onChangeValidator" formControlName="sexControl" [disabled]="isControlDisabled('sexControl')" required>
            <mat-option *ngFor="let sexname of sexNames" [value]="sexname.sex">
            {{sexname.name}}
            </mat-option>
        </mat-select>
        <button mat-icon-button matSuffix (click)="toggleControlState('sexControl')">
            <mat-icon>{{getEditFieldIcon('sexControl')}}</mat-icon>
        </button>
        <mat-error *ngIf="createForm.controls['sexControl'].hasError('required')">
            Please select your sex so we can make the right nutrition calculations
        </mat-error>
    </mat-form-field>
    <!-- Constructs the dob input -->
    <mat-form-field class="form-input-field">
        <mat-label>Date of birth</mat-label>
        <input matInput [errorStateMatcher]="onChangeValidator" [matDatepicker]="picker1" 
            [min]="minDate" [max]="maxDate" formControlName="dobControl" placeholder="Select your date of birth" 
            [disabled]="isControlDisabled('dobControl')" required readonly>
        <button mat-icon-button matSuffix (click)="toggleControlState('dobControl')">
            <mat-icon>{{getEditFieldIcon('dobControl')}}</mat-icon>
        </button>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1 [startAt]="startDate"></mat-datepicker>
        <mat-error *ngIf="createForm.controls['dobControl'].hasError('required')">
            Please select your date of birth so we can make the right nutrition calculations
        </mat-error>
        <mat-error *ngIf="createForm.controls['dobControl'].hasError('invalidDate')">
            Please enter a valid date of birth
        </mat-error>
    </mat-form-field>
    <!-- Constructs the extra sliders -->
    <mat-slide-toggle *ngIf="isFemale()" class="form-input-field" color="primary">Pregnant</mat-slide-toggle>
    <mat-slide-toggle *ngIf="isFemale()" class="form-input-field" color="primary">Lactating</mat-slide-toggle>
    <mat-slide-toggle class="form-input-field" color="primary">Smoker</mat-slide-toggle>
    <hr>
    <mat-label *ngIf="!isEmailConfirmed() && !confirmationEmailRequested">
        <mat-icon style="font-size: 24px; float: right;">warning</mat-icon>
        <p><span>Your email has not been confirmed yet which will limit your functionality.<br></span>
        <a [routerLink]="" (click)="requestConfirmationEmail()">Click here</a><span> to confirm your email</span></p>
        <hr>
    </mat-label>
    <a routerLink="/account/change-password">Change password</a>
    <!-- Constructs the submit button -->
</form>