<!-- Constructs the registration card -->
<mat-card class="registration-card">
    <!-- Constructs the card header -->
    <mat-card-header>
        <mat-card-title>Update Password</mat-card-title>
    </mat-card-header>
    <!-- Constructs the card content -->
    <mat-card-content>
        <!-- Constructs the registration form -->
        <form class="create-user-form" [formGroup]="createForm" (ngSubmit)="onSubmit()">
            <!-- Constructs the password input -->
            <mat-form-field class="form-input-field">
                <mat-label>New password</mat-label>
                <input type="password" matInput [errorStateMatcher]="onChangeValidator" placeholder="" formControlName="passwordControl" minlength="6" maxLength="30" required>
                <mat-error *ngIf="createForm.controls['passwordControl'].hasError('required')">
                    Please enter a password
                </mat-error>
                <mat-error *ngIf="createForm.controls['passwordControl'].hasError('minlength')">
                    Your password should be at least 6 characters
                </mat-error>
            </mat-form-field>
            <!-- Constructs the confirm password input -->
            <mat-form-field class="form-input-field">
                <mat-label>Confirm new password</mat-label>
                <input type="password" matInput [errorStateMatcher]="onChangeValidator" placeholder="" formControlName="confirmPasswordControl" minlength="6" maxLength="30" required>
                <mat-error *ngIf="createForm.controls['confirmPasswordControl'].hasError('required')">
                    Please confirm your password
                </mat-error>
                <mat-error *ngIf="createForm.controls['confirmPasswordControl'].hasError('fieldsMismatch')">
                    Passwords do not match
                </mat-error>
            </mat-form-field>
            
            <!-- Constructs the submit button -->
            <button mat-raised-button color="primary" class="form-input-field" type="submit" [disabled]="!isFormValid()">Update</button>
            <!-- Constructs the general failed form submission error message -->
            <mat-error style="text-align: center;" *ngIf="errorMessage != null">
                {{errorMessage}}
            </mat-error>
            <div class="form-input-field" style="text-align: center; padding-top: 40px;">
                <div *ngIf="passChanged">
                    <p>Your password has been successfully updated.</p>
                    <a routerLink="/auth/login">Click here</a><span> to login</span>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>