mat-icon {
  padding-right: 8px;
}
mat-list-item {
  margin-right: 8px;
}
.mat-elevation-z5 {
  position: fixed;
  z-index: 2;
}
mat-sidenav-content {
  margin-top: 64px;
}
.nav-button {
  line-height: 2rem;
  text-decoration: none;
}
.nav-button:hover, .active {
  border-bottom: 2px solid whitesmoke;
}