.suggestion-card {
    width: 48%;
    padding: 1%;
    margin-bottom: 2%;
    margin-right: 2%;
}
img {
    object-fit: cover;
    max-width: 95%;
    max-height: 100%;
    padding-left: 7%;
}
@media screen and (orientation:portrait) {
    .suggestion-card {
        width: 98%;
        padding: 1%;
        margin-bottom: 2%;
        margin-right: 2%;
    }
}