<mat-card class="suggestion-card">
    <mat-card-header>
      <div *ngIf="hasThumbnail();" mat-card-avatar [ngStyle]="{'background-image': 'url('+ dish.thumbnail +')'}" style="background-size: cover;"></div>
      <div *ngIf="!hasThumbnail();" mat-card-avatar [ngStyle]="{'background-image': 'url('+ placeholderThumbnail +')'}" style="background-size: cover;"></div>
      <mat-card-title>{{dish.name}}</mat-card-title>
      <mat-card-subtitle>{{dishTypeName}}</mat-card-subtitle>
    </mat-card-header>
    <img *ngIf="hasImage();" mat-card-image src="{{dish.image}}" alt="{{dish.name}}">
    <mat-card-content>
      <p *ngIf="hasDescription();">{{dish.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Save for later</button>
      <button mat-button>Wololo</button>
    </mat-card-actions>
</mat-card>