mat-sidenav-content {
    margin-top: 0px;
}
mat-icon {
    padding-right: 8px;
}
mat-list-item {
    margin-right: 8px;
}
.card-header {
    display: inline-block;
    width: 100%;
}
.sub-menu-icon {
    float: right;
    position: relative;
    padding-bottom: 24px;
    padding-left: 8px;
    line-height: 10%;
    /*padding-top: 32px;*/
    /*position: absolute;
    margin-top: 10px;
    right: 4px;
    z-index: 2;*/
}
.account-details-card {
    width: auto;
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
@media screen and (orientation:portrait) {

}
@media screen and (orientation:landscape) {
    .account-details-card {
        width: 40%;
        display: block;
        margin: 1% auto;
    }
}