<!-- Constructs the registration card -->
<mat-card class="registration-card">
    <!-- Constructs the card header -->
    <mat-card-header>
        <mat-card-title>Registration</mat-card-title>
        <mat-card-subtitle *ngIf="step != '3'">Create a new account</mat-card-subtitle>
    </mat-card-header>
    <!-- Constructs the card content -->
    <mat-card-content>
        <!-- Constructs the registration form -->
        <form class="create-user-form" [formGroup]="createForm" (ngSubmit)="onSubmit()">
            <ng-template [ngIf]="step == '1'">
                <!-- Constructs the display name input -->
                <mat-form-field class="form-input-field">
                    <mat-label>Display name</mat-label>
                    <input matInput placeholder="" [errorStateMatcher]="onChangeValidator" formControlName="displayNameControl" minlength="3" maxLength="16" required>
                    <mat-error *ngIf="createForm.controls['displayNameControl'].hasError('required')">
                        Please enter a display name
                    </mat-error>
                    <mat-error *ngIf="createForm.controls['displayNameControl'].hasError('minlength')">
                        Your display name should be at least 3 characters
                    </mat-error>
                </mat-form-field>
                <!-- Constructs the email address input -->
                <mat-form-field class="form-input-field">
                    <mat-label>Email address</mat-label>
                    <input type="email" matInput [errorStateMatcher]="onChangeValidator" placeholder="example@email.com" formControlName="emailAddressControl" 
                        minlength="5" maxLength="30" required>
                    <!--<mat-spinner *ngIf="email.pending"></mat-spinner>-->
                    <mat-error *ngIf="createForm.controls['emailAddressControl'].hasError('required')">
                        Please enter your email address
                    </mat-error>
                    <mat-error *ngIf="createForm.controls['emailAddressControl'].hasError('minlength') || createForm.controls['emailAddressControl'].hasError('email')">
                        Enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="isEmailAddressTaken()">
                        Email address already in use
                    </mat-error>
                </mat-form-field>
                <!-- Constructs the password input -->
                <mat-form-field class="form-input-field">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput [errorStateMatcher]="onChangeValidator" placeholder="" formControlName="passwordControl" minlength="6" maxLength="30" required>
                    <mat-error *ngIf="createForm.controls['passwordControl'].hasError('required')">
                        Please enter a password
                    </mat-error>
                    <mat-error *ngIf="createForm.controls['passwordControl'].hasError('minlength')">
                        Your password should be at least 6 characters
                    </mat-error>
                </mat-form-field>
                <!-- Constructs the confirm password input -->
                <mat-form-field class="form-input-field">
                    <mat-label>Confirm password</mat-label>
                    <input type="password" matInput [errorStateMatcher]="onChangeValidator" placeholder="" formControlName="confirmPasswordControl" minlength="6" maxLength="30" required>
                    <mat-error *ngIf="createForm.controls['confirmPasswordControl'].hasError('required')">
                        Please confirm your password
                    </mat-error>
                    <mat-error *ngIf="createForm.controls['confirmPasswordControl'].hasError('fieldsMismatch')">
                        Passwords do not match
                    </mat-error>
                </mat-form-field>
            </ng-template>
            <ng-template [ngIf]="step == '2'">
            <!-- Constructs the sex input -->
                <mat-form-field class="form-input-field">
                    <mat-label>Sex</mat-label>
                    <mat-select [errorStateMatcher]="onChangeValidator" formControlName="sexControl" required>
                        <mat-option *ngFor="let sexname of sexNames" [value]="sexname.sex">
                        {{sexname.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="createForm.controls['sexControl'].hasError('required')">
                        Please select your sex so we can make the right nutrition calculations
                    </mat-error>
                </mat-form-field>
                <!-- Constructs the extra sliders -->
                <mat-slide-toggle *ngIf="isFemale()" class="form-input-field" color="primary">Pregnant</mat-slide-toggle>
                <mat-slide-toggle *ngIf="isFemale()" class="form-input-field" color="primary">Lactating</mat-slide-toggle>
                <mat-slide-toggle class="form-input-field" color="primary">Smoker</mat-slide-toggle>
                 <!-- Constructs the dob input -->
                <mat-form-field class="form-input-field">
                    <mat-label>Date of birth</mat-label>
                    <input matInput [errorStateMatcher]="onChangeValidator" [matDatepicker]="picker1" 
                        [min]="minDate" [max]="maxDate" formControlName="dobControl" placeholder="Select your date of birth" required readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1 [startAt]="startDate"></mat-datepicker>
                    <mat-error *ngIf="createForm.controls['dobControl'].hasError('required')">
                        Please select your date of birth so we can make the right nutrition calculations
                    </mat-error>
                    <mat-error *ngIf="createForm.controls['dobControl'].hasError('invalidDate')">
                        Please enter a valid date of birth
                    </mat-error>
                </mat-form-field>
            </ng-template>
            <!-- Constructs the submit button -->
            <button *ngIf="step != '3'" mat-raised-button color="primary" class="form-input-field" type="submit" [disabled]="isFormValid() != null">Register</button>
            <!-- Constructs the general failed form submission error message -->
            <mat-error style="text-align: center;" *ngIf="step != '3' && submitErrorMessage != null">
                {{submitErrorMessage}}
            </mat-error>
            <p *ngIf="step == '3'">Your account has been created, check your email inbox for your verification link.</p>
        </form>
    </mat-card-content>
</mat-card>