.registration-card {
    width: auto;
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.create-user-form {
    width: 96%;
    margin: 2%;
}
.form-input-field {
    width: 100%;
    /*white-space: pre;*/
    margin-bottom: 8px;
}