<!-- Constructs the registration card -->
<mat-card class="registration-card">
    <!-- Constructs the card header -->
    <mat-card-header>
        <mat-card-title>Change Password</mat-card-title>
    </mat-card-header>
    <!-- Constructs the card content -->
    <mat-card-content>
        <!-- Constructs the registration form -->
        <form class="create-user-form" [formGroup]="createForm" (ngSubmit)="onSubmit()">
            <ng-template [ngIf]="!passChanged">
                <!-- Constructs the current password input -->
                <mat-form-field class="form-input-field">
                    <mat-label>Current password</mat-label>
                    <input type="password" matInput [errorStateMatcher]="onChangeValidator" placeholder="" formControlName="currentPasswordControl" minlength="6" maxLength="30" required>
                    <mat-error *ngIf="createForm.controls['currentPasswordControl'].hasError('required')">
                        Please enter a password
                    </mat-error>
                    <mat-error *ngIf="createForm.controls['currentPasswordControl'].hasError('minlength')">
                        Your password should be at least 6 characters
                    </mat-error>
                </mat-form-field>
                <!-- Constructs the password input -->
                <mat-form-field class="form-input-field">
                    <mat-label>New password</mat-label>
                    <input type="password" matInput [errorStateMatcher]="onChangeValidator" placeholder="" formControlName="passwordControl" minlength="6" maxLength="30" required>
                    <mat-error *ngIf="createForm.controls['passwordControl'].hasError('required')">
                        Please enter a password
                    </mat-error>
                    <mat-error *ngIf="createForm.controls['passwordControl'].hasError('minlength')">
                        Your password should be at least 6 characters
                    </mat-error>
                </mat-form-field>
                <!-- Constructs the confirm password input -->
                <mat-form-field class="form-input-field">
                    <mat-label>Confirm new password</mat-label>
                    <input type="password" matInput [errorStateMatcher]="onChangeValidator" placeholder="" formControlName="confirmPasswordControl" minlength="6" maxLength="30" required>
                    <mat-error *ngIf="createForm.controls['confirmPasswordControl'].hasError('required')">
                        Please confirm your password
                    </mat-error>
                    <mat-error *ngIf="createForm.controls['confirmPasswordControl'].hasError('fieldsMismatch')">
                        Passwords do not match
                    </mat-error>
                </mat-form-field>
            </ng-template>
            
            <!-- Constructs the submit button -->
            <button *ngIf="!passChanged" mat-raised-button color="primary" class="form-input-field" type="submit" [disabled]="!isFormValid()">Confirm</button>
            <!-- Constructs the general failed form submission error message -->
            <mat-error style="text-align: center;" *ngIf="!passChanged && submitErrorMessage != null">
                {{submitErrorMessage}}
            </mat-error>

            <div class="form-input-field" style="text-align: center; padding-top: 40px;">
                <div *ngIf="!passChanged">
                    <hr style="width: 50%; margin-top: 2px">
                    <a routerLink="/account">Cancel</a>
                </div>
                <div *ngIf="passChanged">
                    <p>Your password has been successfully updated.</p>
                    <a routerLink="/account">Click here</a><span> to go back to your account overview</span>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>