<!-- Constructs the registration card -->
<mat-card class="registration-card">
    <!-- Constructs the card header -->
    <mat-card-header>
        <mat-card-title>Account Recovery</mat-card-title>
    </mat-card-header>
    <!-- Constructs the card content -->
    <mat-card-content>
        <!-- Constructs the registration form -->
        <form class="create-user-form" [formGroup]="createForm" (ngSubmit)="onSubmit()">
            <ng-template [ngIf]="!passChanged">
                <!-- Constructs the email address input -->
                <mat-form-field class="form-input-field">
                    <mat-label>Email address</mat-label>
                    <input type="email" matInput [errorStateMatcher]="onChangeValidator" placeholder="example@email.com" formControlName="emailAddressControl" 
                        minlength="5" maxLength="30" required>
                    <!--<mat-spinner *ngIf="email.pending"></mat-spinner>-->
                    <mat-error *ngIf="createForm.controls['emailAddressControl'].hasError('required')">
                        Please enter your email address
                    </mat-error>
                    <mat-error *ngIf="createForm.controls['emailAddressControl'].hasError('minlength') || createForm.controls['emailAddressControl'].hasError('email')">
                        Enter a valid email address
                    </mat-error>
                </mat-form-field>
            </ng-template>
            
            <!-- Constructs the submit button -->
            <button *ngIf="!passChanged" mat-raised-button color="primary" class="form-input-field" type="submit" [disabled]="!isFormValid() || updating">Recover</button>

            <mat-error style="text-align: center;">
                {{submitErrorMessage}}
            </mat-error>
            <div class="form-input-field" style="text-align: center; padding-top: 40px;">
                <div *ngIf="!passChanged">
                    <hr style="width: 50%; margin-top: 2px">
                    <a routerLink="/auth/login">Cancel</a>
                </div>
                <div *ngIf="passChanged">
                    <p>A password reset link has been sent to the email address you provided.</p>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>